*, *:before, *:after { max-height: 100000px; }
html,body { width:100%; height: 100%; }
body {
	font-size: 16px;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.page-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}